title: Introduction
author: Greg Venech
date: 3-5-2016
headline: What we're about...

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

In today's web development world, there are a vast number of tools to choose from when creating a project. Pick too many and you risk bloating, too few and you end up reinventing the wheel at every turn. Finding the right balance can be hard, especially under the time constraints many of us face. Hopefully the evaluations and examples we provide here will allow you to make quicker and more effective decisions in these matters.

Let's start off with some background though. Satish and I, Greg, are both avid developers with an shared interest in tinkering around on the web. We hope to accomplish a few things with this site: First, we'd like to pass on some of the knowledge we've picked up building data-driven web applications and other tools. I'm sure most of you have heard the following [quote](https://dzone.com/articles/you-never-really-learn) or something similar...

 > You never really learn something until you teach it.

![Scripture Image]({% static '/images/classroom.jpg' %} 'Maybe not this much teaching...')

So maybe not that much teaching... But seriously, I can't count the number of times I've gone to explain a tool or process I use everyday and realize halfway through the first sentence that I'm clueless as to the way it really works. So not only are we trying to share the techniques we've picked up, but we're confident that writing each post will *help us* achieve a deeper understanding of the topic at hand. 

Secondly, we will do our best to provide real world scenarios. This is not to say that we won't use [mock data](http://www.json-generator.com/) at times but some context, rather than just lorem ipsum type content, can definitely enrich the learning process. Each post [shall](http://www.ietf.org/rfc/rfc2119.txt) be accompanied with a means to deconstruct the example under discussion. For instance, anything to do with HTML, CSS, and JS will be accompanied by a [pen](http://codepen.io/) or github repo. If it's re a design, the PSD and any other [accompanying files](https://forums.adobe.com/thread/370303?start=0&tstart=0). You get the point.

Lastly, these days, it almost seems like a [sin](http://simpleprogrammer.com/2013/12/23/marketing-need-blog/) not to start blogging about something...

{% endfilter %}
{% endblock body %}
